.row{
    height: 100vh;
}
.first-column{
    background-color:lightgray;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.first-heading{
    font-size: 24px;
}
.second-heading{
    font-size: 38px;
}
.input-container{
    display: flex;
    margin-left: 70px;
}
.button{
    margin-left: 70px;
}
.second-column{
    margin:70px 0 10px 70px;
}
.input-container{
    margin-right: 70px;
    padding: 10px 0;
}
#originalUrl{
    width:70%;
    margin-right: 10px;
}
#expirationTime{
    width: 30%;
}
.shortened-url-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.shortened-url-item a {
    flex-grow: 1;
    text-align: center;
    margin-left: 17px;
}
